<%- include('partials/header') -%>
<div class="main title">
  <h1>Confirm Booking</h1>
  <h4>Please check the details given below and Click confirm</h4>
  </div>
<div class="content container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Booking Details</h4>
      <ul>
        <li>Name: <%=username%></li>
        <li>Email: <%=emailid%></li>
        <li>Phone Number: <%=phonenom%></li>
        <li>Aadhar Number <%=aadharnum%></li>
        <li>Number of People: <%=people%></li>
        <li>Slot <%=stime%></li>
      </ul>
    </div>
  </div>
</div>
