<%- include('partials/header') -%>
<body>
<div style="width: 85%; margin: 0 7.5%; padding:40px">
	<h1 >VirQue</h1>
	<h2>Confirmation Token </h2>
	<div style="text-align: left; padding-left: 30px; padding-top: 100px; padding-bottom: 50px">
	<!-- <table style="text-allign : center"> -->
		<% if (details.length > 0) { %>
			<% details.forEach(details => {%>
				<!-- <tr><td> -->
        <h3><b>Name of the Store:</b> <%= details.store %></h3>
          <h3><b>Registered Under: </b><%= details.username %></h3>
        <!-- </td><td><%= details.emailid %></td><td><%= details.aadharnum %></td><td><%= details.phonenom %></td></tr> -->
  		<h3><b>Email: </b><%= details.emailid %></h3>
	  	<h3><b>Aadhaar Number: </b> <%= details.aadharnum %></h3>
		 	<h3><b>Phone Number: </b><%= details.phonenom %></h3>
    <%	});%>
		<% }%>
	<!-- </table> -->
	</div>
	<h4><b>Guidelines</b></h4>
	<ul>
		<li>Please bring Aadhar card along with this token.</li>
		<li>Please wear a mask while entering the store.</li>
		<li>Please refrain from coming to the store in case of any symptoms</li>
	</ul>
</div>
</body>
