<%- include('partials/header'); -%>
    <div class="main title">
        <h1>Shops At
            <%=place%>
        </h1>
    </div>
    <div class="py-3"></div>
    <div class="mt-5">
        <table class="table table-dark table-striped m-auto w-75" style="text-align: center;">
            <tr>
                <th>Shop Name</th>
                <th>Slots</th>
                <th>Time</th>
            </tr>
            <% items.forEach(function(p){%>
                <tr>
                    <td class="w-50">
                        <%=p.Name%>
                    </td>
                    <td>
                        <%=p.slots%>
                    </td>
                    <td>
                        <%=p.Time%>
                    </td>
                    <td class="w-25">
                        <form class="" action="/slotpage" method="post">
                            <button type="submit" class="btn btn-light" name="button" value="<%=p.Name%>">Book Now</button>
                        </form>
                    </td>
                </tr>
                <%});%>
        </table>
        <div class="d-flex justify-content-center">
            <button id="backbtn" class="btn btn-dark formbutton" onclick="history.back(-1)">Back</button>
        </div>

    </div>